/node_modules
/public/hot
/public/storage
/public/themes
/storage/*.key
/storage/app/*
/vendor
.vscode
.idea
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
composer-setup.php
.DS_Store
.dcdignore
.editorconfig
.env.example
.gitattributes
.htaccess
.rnd
.styleci.yml
auto_builder_sh.sh
backup.json
composer.lock
composer.phar
firebase-messaging-sw.js
php.ini
webpack.mix.js
sitemap.xml
package-lock.json
mySpecs.html
modules_statuses.json